extends layout

block content
    main
        div#fade.fade
        div#dark.fade
        div#gradient-ease
        div#gradient-static
        div#static
        div#countdown
        div.audio
    audio(loop id="noise")
        source(src="noise.ogg")
