body, html{
    height: 100%;
    display: grid;
    font-family: 'Girassol', cursive;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #000;
}

main {
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    background-size:contain;
}

#countdown {
    z-index: 2;
    margin: auto;
    letter-spacing: 10px;
    font-size: 2em;
    color: #fff;
    user-select: none;
    text-align: center;
    word-wrap: break-word;
}

#fade {
    z-index: 3;
    overflow: hidden;
}

#dark {
    z-index: 1;
    opacity: 0.9;
    overflow: hidden;
}

.fade {
    background-color: #000;
    position: absolute;
    width: 150%;
    height: 150%;
    left: -10%;
    top: -10%;
}


#gradient-static {
    z-index:2;
    position: absolute;
    width:100%;
    height: 100%;
    background: radial-gradient(600px 900px ellipse at 50% 60%, transparent 5%, black 80%);
    opacity: 1;
}

#gradient-ease {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(350px 900px ellipse at 50% 60%, transparent 5%, black 80%);
    opacity: 0;
    animation: pulse 2s ease-in-out infinite alternate;
}

@keyframes pulse {
    0% { opacity: 0; }
    100%{ opacity:1; }
}

#static {
    z-index:1;
    position:absolute;
    width:100%;
    height:100%;
    background-image: url("static.gif");
    opacity: 0.02;
}

.audio {
    position:absolute;
    bottom: 20px;
    left: 20px;
    background-image: url("mute.svg");
    width: 2em;
    height: 2em;
    filter: invert(27%) brightness(0.7);
    z-index: 2;
}

.audio:hover {
    filter: invert(27%) brightness(0.5);
}

@media only screen and (max-width: 600px) {
    #dark {
        opacity: 0.85;
    }
}

@media only screen and (max-width: 991px) {
    main {
	background-size: cover;
    }
}
